@model CRUD_MVC.Models.Employee


@{
    ViewBag.Title = "Create";
}

<form id="form" action="/Employee/Create" method="post">
    <div class="form-group"> 
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group ">
        <label for="select">Select</label>
        <select class="form-control" id="select">
            @foreach (var i in ViewBag.MyList)
            {
                <option value="@i.Designation_Emp">@i.Designation_Emp</option>
            }
        </select>
     </div>        
     <input id="submit" type="submit" value="Create" class="btn btn-warning" />
</form>

    



<script>  

//USING AJAX call to submit
  /*  $(document).ready(function(){

        $('#form').submit(function(event) {

         event.preventDefault();
         dataString = $("#form").serialize();

         $.ajax({
            type: "post",
            url: "Employee/Create",
            dataType:"json",
            data: dataString,

            success: function (data) { 
                const obj = jQuery.parseJSON(data);              
                window.location.replace('/');                
            },
            error: function() {
                alert(Error occured');
            }
        });       
     });
  });
*/

//USING Fetch Api to submit
    document.querySelector("#form").addEventListener('submit', async (e) => {
            e.preventDefault();
            var name = document.querySelector('#name').value;
            const email = document.querySelector('#email').value;
            let designation = document.querySelector('#select').value;  
            
            var obj = {
                Name: name,
                Email: email,
                Designation: designation
            };
            
            const rawResponse = await fetch('https://localhost:44372/Employee/Create', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj)
            });
            if (!rawResponse.ok) {
                console.log('Error occured');
                return;
            }
            window.location.replace('/');
            
        })
           
   
</script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }