@model CRUD_MVC.Models.Employee


@{
   ViewBag.Title = "Create";

}

<form id="form" action="/Employee/Create" method="post">
    <div class="form-group"> 
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" value="@Model.Email">
    </div>
    <div class="form-group ">
        <label for="select">Select</label>
        <select class="form-control" id="select">
            @foreach (var i in ViewBag.MyList)
            {
            <option value="@i.Designation_Emp">@i.Designation_Emp</option>
            }
        </select>
     </div>        
     <input id="submit" type="submit" value="Save" class="btn btn-warning" />
     <a href="/" class="btn btn-primary ">Cancel</a> 
</form>

    



<script>  

//USING AJAX call to submit
  /*  $(document).ready(function(){

        $('#form').submit(function(event) {

         event.preventDefault();
         dataString = $("#form").serialize();

         $.ajax({
            type: "post",
            url: "Employee/Edit/id",
            dataType:"json",
            data: dataString,

            success: function (data) { 
                const obj = jQuery.parseJSON(data);              
                window.location.replace('/');                
            },
            error: function() {
                alert(Error occured');
            }
        });       
     });
  });
*/

    /* const res = await axios({
             method: 'post',
             url: "https://localhost:44372/Employee/Edit/id",
             data: obj
         })
         window.location.replace('/');*/


//USING Fetch Api to submit    

    document.querySelector("#form").addEventListener('submit', async (e) => {
        e.preventDefault();
        var name = document.querySelector('#name').value;
        const email = document.querySelector('#email').value;
        let designation = document.querySelector('#select').value;

        var id =@Model.Id;
        var obj = {
            Id: id,
            Name: name,
            Email: email,
            Designation: designation
        };

        const rawResponse = await fetch("https://localhost:44372/Employee/Edit/id", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        });
        if (!rawResponse.ok) {
            console.log('Error occured');
            return;
        }
        window.location.replace('/');

        

    });      
   
</script>

