@model IEnumerable<CRUD_MVC.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2 class="mt-1"><span class="badge badge-secondary ">Employees</span></h2>

        @foreach (var item in Model)
        {
            @Html.Partial("_Card", item)
        }
    </div>
</div>
